<h2 class="h1">Lista de productos</h2>

<div>
    {{#if hayProductos}}
    <table class="table table-striped">
        <tr>
            <th class="table-info text-center">Nombre del producto</th>
            <th class="table-info text-center">Precio del producto</th>
            <th class="table-info text-center">descripción del producto</th>
            <th class="table-info text-center">Imágen del producto</th>
            <th class="table-info text-center">ID del producto</th>
        </tr>
        {{!-- la variable tiene q tener el mismo nombre que la que mando desde el render --}}
        {{#each products}}
        <tr>
            <td class="text-center">{{this.name}}</td>
            <td class="text-center">{{this.price}}</td>
            <td class="text-center">{{this.description}}</td>
            <td> <img class="img-thumbnail rounded mx-auto d-block" src={{this.thumbnail}} alt={{this.name}}> </td>
            <td class="text-center">{{this.id}}</td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <p class="text-center text-uppercase">No hay productos</p>
    {{/if}}
</div>

<button class="btn btn-primary text-uppercase" onclick="location.href='./'">Regresar al form</button>